//VARIABLES

$colorHilos : khaki;
$colorBordeHilos: black;

*{
    margin: 0;
    padding: 0;
}

.foroSeccion{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    background-color: $colorHilos;
    border: 1px solid $colorBordeHilos;
    border-bottom: none;
}

.foroSeccion:last-of-type{
    border-bottom: 1px solid $colorBordeHilos;
}

.foroSeccion>*{
    flex: 0 1 auto;
    padding: 0.6em;
}

.foroSeccion h4{
    flex-grow: 2;
}

.foroSeccion .hiloInfo{
    width: 70vw;
}

.foroSeccion .hiloAutor{
    width: 30vw;
    border-left: 1px solid $colorBordeHilos;
}

.foroSeccion:first-of-type>.hiloInfo, .foroSeccion:first-of-type>.hiloAutor{
    font-weight: bold;
    background-color: darken($colorHilos, 10%);
}
